@model BridgetSandalsClient.Models.Product

<div class="p-5 w-100 d-flex justify-content-between">
    <div class="w-50" style="background-color: #ECE3D4">
        <img src="@Model.ProductImageFilePath" width="100%" height="auto" />
    </div>
    <div class="w-50 px-5">
        @if (Model.Category != null)
        {
            <p>@Model.Category.Name</p>
        }

        <h1>@Model.Name</h1> <hr />

        <p style="font-weight: 500; margin-bottom: 35px">Product Details</p>

        <p class="fw-light fs-3">@Model.Description</p>

        <h5><span style="font-size: 14px;">$</span>@Model.Price</h5>

        
        <div class="d-flex flex-column w-100" style="margin-top: 5em">
            <!-- Form for adding items to the cart -->
            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                <input type="hidden" name="productId" value="@Model.Id" />
                <input type="hidden" name="productName" value="@Model.Name" />
                <input type="hidden" name="price" value="@Model.Price" />
                <input type="number" name="quantity" value="1" min="1" /> <!-- Allow user to input quantity -->
                <button class="add-to-cart-btn text-black" type="submit">Add to Cart</button>
            </form>

            <a class="buy-now mt-1" asp-controller="" asp-action="">Buy Now</a>
        </div>
    </div>
</div>

